body {
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0;
} 

.container {
    background-color: orange;
    border-radius: 10px;
    box-shadow: 10px 2px burlywood;
    align-items: center;
    justify-content: center;


}


